<nav class="navbar">
    <div class="navbar-logo">Step Polls</div>
    <button class="navbar-toggle" id="navbar-toggle">
      <span class="hamburger"></span>
    </button>
    <ul class="navbar-menu" id="navbar-menu">
      <li class="navbar-item"><a href="#home" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="#features" class="navbar-link">Features</a></li>
      <li class="navbar-item dropdown">
        <a href="#" class="navbar-link dropdown-toggle">More</a>
        <ul class="dropdown-menu">
          <li><a href="#about" class="dropdown-link">About Us</a></li>
          <li><a href="#contact" class="dropdown-link">Contact</a></li>
          <li><a href="#faq" class="dropdown-link">FAQ</a></li>
        </ul>
      </li>
      <li class="navbar-item"><a href="#login" class="navbar-link navbar-button">Login</a></li>
    </ul>
  </nav>