* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

:root{

    --high-green: #72ff76;
    --dark-black: #1e2124;
}

ul{
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--dark-black);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-item {
    position: relative;
}

.navbar-link {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: var(--high-green);
}

.navbar-button {
    background-color: #f1f1f1;
    color: var(--dark-black);
    border-radius: 5px;
    font-weight: bold;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 3px;
    transition: all 0.3s ease;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 3px;
    position: absolute;
    transition: all 0.3s ease;
}

.hamburger::before {
    top: -8px;
}

.hamburger::after {
    top: 8px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--dark-black);
    color: var(--high-green);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 10;
}

.dropdown-link {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: white;
}

.dropdown-link:hover {
    color: var(--high-green);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        background-color: var(--high-green);
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        border-radius: 0 0 10px 10px;
    }

    .navbar-menu.show {
        display: flex;
    }

    .navbar-item {
        text-align: center;
    }
}